<% include partials/header %>
    <h1>Welcome <%= user_name.toUpperCase() %></h1>
    <% if (user_name.toLowerCase() === "ulises"){ %>
      <p>This is your home page</p>
    <% } %>
<% include partials/footer %>
