<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body>
    <h1>Search for your favorite movie</h1>
    <form class="search" action="/results" method="GET">
      <input type="text" name="search" value="" placeholder="Search for a movie">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
