<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/ninja-style.css") }}">
  </head>
  <body>
    <div class="container">
      <div class="">
        <label for="your gold"><h1>Your Gold: {{ session.totalgold }}</h1></label>

        <div class="form-container">
          <div class="farm boxes">
            <h1>Farm</h1>
            <h3>(earn 10-20 golds)</h3>
            <form action="{{ url_for('process_money') }}" method="post">
              <input type="hidden" name="building" value="farm" />
              <input type="submit" class="btn btn-primary" value="Find Gold!"/>
            </form>
          </div>

          <div class="cave boxes">
            <h1>Cave</h1>
            <h3>(earn 5-10 golds)</h3>
            <form action="{{ url_for('process_money') }}" method="post">
              <input type="hidden" name="building" value="cave" />
              <input type="submit" class="btn btn-primary" value="Find Gold!"/>
            </form>
          </div>

          <div class="house boxes">
            <h1>House</h1>
            <h3>(earn 2-5 golds)</h3>
            <form action="{{ url_for('process_money') }}" method="post">
              <input type="hidden" name="building" value="house" />
              <input type="submit" class="btn btn-primary" value="Find Gold!"/>
            </form>
          </div>

          <div class="casino boxes">
            <h1>Casino</h1>
            <h3>(earn/take 0-50 golds)</h3>
            <form action="{{ url_for('process_money') }}" method="post">
              <input type="hidden" name="building" value="casino" />
              <input type="submit" class="btn btn-primary" value="Find Gold!"/>
            </form>
          </div>

        </div>

        <div class="activities-container">
          <label for="activity results">Activities</label>
          <div class="activities">
          {% for adv in session['adventures'] [::-1]%}
          {% if adv.find('lost') == -1 %}
          <p class="green">
          {{ adv }}
          </p>
          {% else %}
          <p class="red">
          {{ adv }}
          </p>
          {%endif%}
          {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
