<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'validation/css/styles.css' %}"media="screen" charset="utf-8">
		<title>Email Validation</title>
	</head>
	<body>
		<div class="container">

			{% for message in messages %}
			<div class="succesMsg">
				<h4>{{ message }}</h4>
			</div>
			{% endfor %}

			<form action="/process" class="form-horizontal" method="POST">
			{% csrf_token %}
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email Address:</label>
					<div class="col-sm-6">
					<input type="text" class="form-control" id="inputEmail3" placeholder="Email" name="email">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>

		</div>
	</body>
</html>