<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Results</title>
  </head>
  <body>
    <h1>Submitted Information</h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= user_data.name %></td>
        </tr>
        <tr>
          <td>Dojo Location:</td>
          <td><%= user_data.locations %></td>
        </tr>
        <tr>
          <td>Favorite Language:</td>
          <td><%= user_data.languages %></td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td><%= user_data.comment %></td>
        </tr>
      </tbody>
    </table>
    <a href="/"><h3>Back</h3></a>
  </body>
</html>
