<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome <%= user_name.toUpperCase() %></h1>
    <% if (user_name.toLowerCase() === "ulises"){ %>
      <p>This is your home page</p>
    <% } %>
  </body>
</html>
