<!DOCTYPE html>
<html>
	<head>
		<title>Ninjas</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<h1>What is a Ninja?</h1>
		<p>The ninja was a covert agent in feudal Japanese times who specialized in unorthodox warfare including espionage, sabotage, infiltration, and assassination. Compared to the samurai who were very upfront and honorable with their tactics, the ninja proved a stark contrast.</p>
		<p>It is unsure as to exactly when the ninja started popping up in Japan, but it is widely believed to be sometime between the 12th and 15th centuries. Some even postulate that the Japanese ninja had ties back to ancient China. The Sengoku period (15th-17th century) however, was definitely the golden age of the ninja in Japan. This was when the famous Iga and Koga ninja started to form and ninja were widely hired for their unique skill set.</p>
	</body>
</html>